<!DOCTYPE html>
<html>

<head>
    <title>Факты</title>
    <meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../style/style_main.css" />
</head>

<body>
    <header class="header">
		<div class="header__container">
			<nav class="nav">
				<a class="nav__link" href="/signup">Зарегистрироваться</a>
				<a class="nav__link" href="/signin">Войти</a>
			</nav>
		</div>
	</header>
	
	<article>
		<div class="context">
			<br>
			<p><b>Нет доступа...</b></p>
			<br>
		</div>
	</article>
	
	<footer>
		<p>Copyright &copy 2020 KVV</p>
	</footer>

</body>
<html>